@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {

    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    overflow: hidden;
}
.contenido img:hover{
    background-color: #404044;
    color: #404044;
}
.container-bar {
    display: flex;
    width: 100%;
    min-height: 50px;
    background-color: black;
    flex-direction: space-between;
}

/*acá se pone lo de la barra de arriba*/

.container-start {

    width: 40%;
    height: 50px;
    background-color: #18181b;
    display: flex;
    align-items: center;
    justify-content: end;
    display: flex;
    gap: 10px;
    padding-right: 16px;
}

.icone-pill {
    width: 30px;
    height: 30px;
    background-color: aqua;
}

.icone-pill .i-icone {
    width: 30;
    height: 30;
}

.container-register {
    background-color: #3a3a3d;
    height: 30px;
    width: 99px;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
.container-register:hover{
    background-color: #464649;
}

.container-begginig {
    height: 30px;
    width: 92px;
    background-color: #9147ff;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
.container-begginig:hover{
    background-color: #772ce8;
}

.span-purple {
    color: #d8d2d1;
    font-size: 13px;
    font-weight: bold;
}


.bar-icone {
    height: 30px;
    width: 30px;
    background-color: aqua;
}

.bar-icone .img-icone {
    height: 32px;
    width: 35px;
}
.img-icone:hover{
    background-color: 464649;
}


/**/
.navdad {
    display: flex;
    height: 50px;
    width: 60%;
    background-color: #18181b;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1px;
    padding-left: 72px;

}

.nav {
    display: flex;
    width: 355px;
    height: 36px;
    background-color: #464649;
    border-radius: 0.3em 0px 0px 0.3rem;
    align-items: center;
}
.nav:hover{
    border-color: #404044;
}
.span-search {
    color: #d8d2d1;
    font-size: 13px;
    font-weight: bold;
    padding-left: 12px;
}

.nav-search {
    width: 34px;
    height: 36px;
    background-color: #3a3a3d;
    border-radius: 0rem 0.3rem 0.3rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-search:hover{
    background-color: #464649;
}
.nav-search .img-lupa {
    width: 34;
    height: 36;
    background-image: url(image/lupa.PNG);

}

.icones{
    height: 50px;
    width: 30%;
    background-color: #18181b;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.image-twitch{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-twitch .img-t{
    width: 35px;
    height: 35px;
    transition: all;
}
.img-t:hover{
    background-color: #26262c;

}
.text-bar{
    width: 100px;
    height: 45px;
    background-color: transparent;
    justify-content: center;
    display: flex;
    padding-top: 20px;
}
.text-bar .span-text-twitch{
 font-size: 15px;
 color: #ffff;
 font-weight: bold;

}
.span-text-twitch:hover {
    color: #a550ff;
}
.icone-3{
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icone-3:hover{
    background-color: #464649;
}
/**/
.bigcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container-main {
    display: flex;
    flex: 1;
    height: 82%;
}

/*viewers bar*/

.container-streamers {
    height: 100%;
    width: 240px;
    background-color: #1f1f23;
    padding-right: 5px;
}

.container-recommended {
    height: 42px;
    width: 235px;
    background-color: #1f1f23;
    justify-content: space-around;
    display: flex;

    flex-direction: column;
    padding-left: 5px;
}

.recommended-channels {
    font-size: 13px;
    font-weight: bold;
    color: #dedee3;

    text-align: start;

}


.container {
    height: 42px;
    width: 240px;
    background-color: #1f1f23;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    transition: all;
}

.contenido {
    display: flex;
    justify-content: space-between;
    height: 30px;
    background-color: transparent;
    align-items: center;
    flex: 1;
    padding: 0px 5px;

}

.mini-image {
    width: 24px;
    height: 24px;
    transition: all;
}
.mini-image:hover{
    
    background-color: #26262c;

}

.container:hover {

    background-color: #26262c;

}

.containerfoto {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 45px;
    justify-content: center;
}

.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.infostreamer {
    display: flex;
    flex-direction: column;

}

.infostreamer .name {
    font-size: 14px;
    font-weight: bold;
    color: #dedee3;
}

.infostreamer .game {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
    color: #ada8b3;
}

.viewers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-self: flex-start;
    gap: 5px;
}

.live {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: red;
}

.number-viewers {
    font-size: 13px;
    color: #d8d2d1;

}

.flex {
    display: flex;
}

/*end viewers-bar*/
/*aquí inicia el cuadro grande*/
.videos-container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: #0e0e10;
    overflow-y: auto;
    flex-direction: column;
    padding-left: 35px;
    padding-right: 35px;
}
::-webkit-scrollbar{  
    width: 7px;
    
}

::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 7px;

}
::-webkit-scrollbar-thumb{
    background: #FFFFFF80;
    border-radius: 7px;

}


.image {
    width: 100%;
    background-color: azure;
    display: flex;
    flex-direction: row;
}

.img {
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.img:hover{
    background-color: #404044;
}

.container-all-videos {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.directs {
    display: flex;
    width: 100%;
    height: 31px;
    background-color: transparent;
    -webkit-box-pack: justify;
    padding-bottom: 1px;
    justify-content: start;
    line-height: 31px;
    gap: 5px;
}

.directs .name-di {
    font-size: 16px;
    font-weight: bold;
    color: #dedee3;
    margin: 0%;

}

.directs .name-dir {
    font-size: 16px;
    font-weight: bold;
    color: #b990ff;
    margin: 0%;

}

/*cuadro para que esten los videos*/
.videos {
    width: 100%;
    height: 300px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 9px;
    padding-top: 5px;
    margin: 0%;
    justify-content: space-between;
}
.videos-category {
    width: 100%;
    height: 354px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 9px;
    margin: 0%;
    justify-content: space-between;
    padding-bottom: 15px;
}


/*codigo del profesor*/

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #a550ff;
}

.row {
    align-items: center;
    display: flex;
}

.p-2 {
    padding: 2px;
}

.p-4 {
    padding: 4px;
}

.p-8 {
    padding: 8px;
    display: flex;
    flex-direction: column;
    width:196px;
    height: 182px;

}

.p-16 {
    padding: 16px;
}
.container-buttons{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.container2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 350px;
}

.purple-background {
    background-color: rgb(89, 0, 191);
}
.red-background{
    background-color: red;
}
.orange-background{
    background-color: rgb(252, 129, 32);
}
.blue-background{
    background-color: rgb(32, 129, 252);
}
.pink-background{
    background-color: rgb(252, 32, 249);
}
.white-background{
    background-color: white;
}
.video-preview-container {
    background-image: url(https://static-cdn.jtvnw.net/previews-ttv/live_user_gladoop-440x248.jpg);
    background-size: contain;
    height: 196px;
    width: 350px;
}

.video-preview-container:hover {
    transform: translate(5px, -5px);
    transition: 0.1s;
}

.metadata-preview-container {
    align-items: flex-start;
    display: flex;
    gap: 8px;
    width: 100%;
}

.live-button {
    background-color: #de001a;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
}
.live-button2 {
    background: transparent;
    background-color: rgb(11 8 8 / 50%);
    border-radius: 0.2rem 0.2rem;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: fit-content;
}

.avatar1 {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.inner-metadata-container {
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 12px;
    gap: 6px;
    margin: 0;
    min-width: 0;
}

.truncated-text-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video-title {
    font-weight: bold;
    font-size: 14px;
}

.video-description-labels {
    font-size: 12px;
    color: #adadb8;

}

.pills-container {
    gap: 4px;
}

.badge-pill {
    background-color: #343434;
    border-radius: 8px;
    color: #ada8b3;
    padding: 2px 7px;
    font-weight: bold;
    width: fit-content;
}

/*imagenes de categorias*/
.image-control{
    width: 100%;
    height: 63px;
    background-color: #0e0e10;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 12.5px;
}

.image-control-center{
    width: 100%;
    height:45px;
    background-color: #772ce8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}
.image-control-center:hover{
    background-color: #9256ed;
}
.image-control-center .span-center{
    color: #ffff;
    font-weight: bold;
    font-size: 25px;


}
.image-control-center .img-center{
    width: 69px;
    height: 69px;
    background-color: transparent;
}

/*categorias*/
.p-4 {
    padding: 4px;
}

.container-category{
    width: 100%;
    height: 292px;
    background-color: #0e0e10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;

}
.container3{
    height: 100%;
    width: 170px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-size: contain;

}
.container3-img{
    height: 220px;
    width: 100%;
    background-color: azure;
    display: flex;
    background-image: url(https://static-cdn.jtvnw.net/ttv-boxart/509658-188x250.jpg);
    background-size: contain;
}
.container4-img{
    height: 220px;
    width: 100%;
    background-color: azure;
    display: flex;
    background-image: url(https://static-cdn.jtvnw.net/ttv-boxart/509663-188x250.jpg);
    background-size: contain;
}
.container5-img{
    height: 220px;
    width: 100%;
    background-color: azure;
    display: flex;
    background-image: url(https://static-cdn.jtvnw.net/ttv-boxart/27471_IGDB-188x250.jpg);
    background-size: contain;
}
.container6-img{
    height: 220px;
    width: 100%;
    background-color: azure;
    display: flex;
    background-image: url(https://static-cdn.jtvnw.net/ttv-boxart/32982_IGDB-188x250.jpg);
    background-size: contain;
}
.container7-img{
    height: 220px;
    width: 100%;
    background-color: azure;
    display: flex;
    background-image: url(https://static-cdn.jtvnw.net/ttv-boxart/512980-188x250.jpg);
    background-size: contain;
}
.container8-img{
    height: 220px;
    width: 100%;
    background-color: azure;
    display: flex;
    background-image: url(https://static-cdn.jtvnw.net/ttv-boxart/33214-188x250.jpg);
    background-size: contain;
}

.container3-img:hover {
    transform: translate(5px, -5px);
    transition: 0.1s;

}
.container4-img:hover {
    transform: translate(5px, -5px);
    transition: 0.1s;
}
.container5-img:hover {
    transform: translate(5px, -5px);
    transition: 0.1s;
}
.container6-img:hover {
    transform: translate(5px, -5px);
    transition: 0.1s;
}
.container7-img:hover {
    transform: translate(5px, -5px);
    transition: 0.1s;
}
.container8-img:hover {
    transform: translate(5px, -5px);
    transition: 0.1s;
}
.row {
    align-items: center;
    display: flex;
}


/*side*/
.sidebar {
    height: 61px;
    width: 100%;
    background-color: #5c16c5;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.image-span {
    height: 51px;
    width: 70%;
    background-color: transparent;
    align-items: center;
    display: flex;
    gap: 9px;
    padding-left: 17px;

}

.img-sidebar {
    width: 50px;
    height: 45px;
}

.register-side {
    width: 30%;
    height: 51px;
    background-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 60px;


}

.container-begginig2 {
    height: 30px;
    width: 92px;
    background-color: #ffff;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
.container-begginig2:hover{
    background-color: #e7dcf6;
}

.span-purple1 {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
}

.span-side {
    color: #ffff;
    font-size: 1.1rem;
    font-weight: bold;
}

.span-side2 {
    color: #ffff;
    font-size: 1.1rem;

}
/*mostrar más*/
.div-ray{
    height: 30px;
    width: 100%;
    background-color: transparent;
    align-items: center;
    display: flex;
}
.div-text{
    height: 30px;
    width: 124px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 0.2rem 0.2rem;
    padding: 2px;
}
.div-text:hover{
    background-color: #3e3e40;
}
.img-text-1:hover{
    background-image: url(image/div-down-hover.PNG);    
}
.div-text2{
    height: 30px;
    width: 0px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    display: flex;
}
.div-text .span-div-text{
    font-size: 13px;
    font-weight: bold;
    color: #b990ff;

}
.span-div-text:hover{
    color: white;
}
.div-text .span-dive-text:hover{
    color:white;
    font-size: 13px;
    font-weight: bold;
}
.div-text .img-text-1{
    width: 20px;
    height: 20px;
    display: flex;
    background-image:url(image/div-down.PNG) ;
}

.div-ray-center{
    -webkit-box-flex: 1 !important;
    flex-grow: 1 !important;
    position: relative !important;
}
.div-ray-center-top{
    width: 100%;
    height: 1px;
    background-color: #272728;
}