.navegacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.nav_izquierda{
    background-color: aqua;
}
.nav_centro{
    background-color: red;
}

.nav_derecha {
    background-color: green;
}
.tamano{
    width: 180px; 
    height: 90px;
}
.bloqueizquierdo{
    background-color: peru;
    width: 95px; /*Crece hacia los lados*/
    height: 600px; /*Crece hacia abajo*/
}
.bloquecentro {
    background-color: #88CCF1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
    width: 100px;
}
:root {
    --cells-gap: 50px;
    --block-size: 150px;
}

.row {
    display: flex;
    gap: var(--cells-gap);
}

.block {
    border: 1px solid black;
    height:100px;
    width: 60px;
}

.emptyBlock {
    background-color: transparent;
}
.algorandom {
    ll
}